<!DOCTYPE html>
<html>
<head>
    <title>Esonero Laboratorio</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <h1>Esonero Laboratorio</h1>

    <div>
        <form action="/query" method="GET">
            <label for="query_input">Send natural language query:</label>
            <input type="text" id="query_input" name="query_input">
            <button type="submit">Submit</button>
        </form>
    </div>

    <div>
        <a href="/schema" class="link-button">get DB Schema summary</a>
    </div>

    <div>
        <form action="/add_data" method="POST">
            <label for="add_data_input">Add a row into the DB:</label>
            <input type="text" id="add_data_input" name="data_line">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
