<!DOCTYPE html>
<html>
<head>
    <title>Query output</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <h1>Query output</h1>

    {% if query_output %}
        <div>
            {% for item in query_output %}
                {% for property in item["properties"] %}
                    {{ property["property_value"] }} |
                {% endfor %}<br>
            {% endfor %}
        
            <h3>Raw Data</h3>
            Query output: {{ query_output }}
        </div>
    {% endif %}
    
    {% if error %}
        <div>
            Errore {{ error }}: {{ error_detail }}
        </div>
    {% endif %}
    
    <br><br>
    
    </div>
        <a href="/">Torna alla home</a>
    </div>
</body>
</html>